---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Courses from '../components/Courses.astro';
import Podcast from '../components/Podcast.astro';
import Quote from '../components/Quote.astro';
import Journal from '../components/Journal.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<BaseLayout>
  <Header />
  <Hero />
  <div class="glow-divider"></div>
  <Services />
  <Courses />
  <Podcast />
  <Quote />
  <Journal />
  <About />
  <Contact />
  <Footer />
</BaseLayout>
